body
{
margin: 30px;
padding: 0px;
font-family: Helvetica, Arial, sans-serif;
}

li
{
margin-bottom: 8px;
}

h4
{
font-size: 90%;
margin: 0px 0px 5px 0px;
}

#canvas_div
{
position: absolute;
top: 170px;
left: 30px;
margin: 0px;
padding: 0px;
width: 220px;
}

#drawing_box
{
margin: 0px;
padding: 0px;
border: 2px solid black;
overflow: none;
}

#radio_btn_div
{
position: absolute;
top: 200px;
left: 250px;
margin: 0px;
padding: 0px;
}

.radio_btn
{
margin: 0px 10px 10px 0px;
padding: 0px;
}

button
{
margin: 0px;
padding: 3px 10px 3px 10px;
cursor: pointer;
background: white;
border: 1px solid black;
color: black;
font-size: 100%;
width: 90px;
}

button:hover
{
background: #f5f5f0;
}

button:active 
{
transform: translateY(2px);
}

#submit_button
{
position: absolute;
top: 290px;
left: 250px;
}

#clear_button
{
position: absolute;
top: 330px;
left: 250px;
}

#payload_div
{
margin: 0px;
padding: 0px;
position: absolute;
top: 170px;
left: 450px;
}

#results_div
{
margin: 0px;
padding: 0px;
position: absolute;
top: 170px;
left: 700px;
}

#payload_spinner, #results_spinner
{
margin: 0px;
padding: 0px;
position: absolute;
top: 50px;
left: 20px;
}

.results_pre
{
background: #f5f5f0;
border: 1px solid #ccccb3;
overflow-y: scroll;
font-family: "Lucida Console", Monaco, monospace;
font-size: 90%;
margin: 0px;
padding: 10px;
}

#payload_pre
{
height: 180px;
width: 200px;
}

#results_pre
{
height: 100px;
width: 200px;
}

.spinner
{
border: 10px solid #ddddbb;
border-top: 10px solid #3d5c5c;
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 2s linear infinite;
display: none;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#explain_div
{
margin: 0px;
padding: 0px;
position: absolute;
top: 450px;
left: 30px;
font-size: 80%;
}


